.box-layout {
  align-items: center;
  background: url('https://www.m2square.eu/wp-content/uploads/2020/06/bg.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out(white, 0.15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}

.row2 {
  max-width: $grid-width;
  margin: 0 auto;
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  transition: background 0.3s ease;
  &:hover {
    background: $off-white;
  }

  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }

  [class^='col-'] {
    // background-color: orangered;
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  @include clearfix;

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    display: flex;
  }

  .col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
    );
  }

  .col-1-of-6 {
    @media (min-width: $desktop-breakpoint) {
      width: calc((100% - 5 * #{$gutter-horizontal}) / 6);
      text-align: right;
    }
  }

  .col-4-of-6 {
    @media (min-width: $desktop-breakpoint) {
      width: calc(
        4 * ((100% - 5 * #{$gutter-horizontal}) / 6) + #{$gutter-horizontal}
      );
    }
  }

  .link-style {
    text-decoration: none;
    color: $dark-grey;
  }
}

.file-upload-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: auto;
  border: 3px dashed $blue;
  background-color: $light-grey;
  color: $blue;
  cursor: pointer;
}

.admin-console {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $blue;
  padding: 1rem;
  &-item {
    margin: 1rem;
  }
}
