.button {
    background: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--secondary {
    background: $dark-green;
    margin-bottom: 3rem;
    margin-right: 1rem;
}

.button--tertiary {
    font-size: $font-size-small;
    background: $dark-green;
}

