.button {
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 3rem;
  margin-right: 1rem;

  &-add {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: $font-size-xlarge;
  }
}

.button--link {
  background: none;
  color: $m2Square-red;
  margin-bottom: 0;
}

.button--secondary {
  background: linear-gradient(
    to right bottom,
    rgba($dark-green, 0.85),
    rgba($light-green, 0.85)
  );
}

.button--secondary-datepicker {
  background: white;
  border: 1px solid black;
  color: black;
  text-decoration: none;
}

.button--secondary-leads {
  background: linear-gradient(
    to right bottom,
    rgba($dark-orange, 0.85),
    rgba($light-orange, 0.85)
  );

  // &-add {
  //   margin-bottom: 0;
  // }
}

.button--secondary-modulistica {
  background: linear-gradient(
    to right bottom,
    rgba($dark-acqua, 0.85),
    rgba($light-acqua, 0.85)
  );
}

.button--secondary-oggetti {
  background: linear-gradient(
    to right bottom,
    rgba($dark-purple, 0.85),
    rgba($light-purple, 0.85)
  );

  // &-add {
  //   margin-bottom: 0;
  // }
}

.button--secondary-clienti,
.button--login {
  background: linear-gradient(
    to right bottom,
    rgba($blue, 0.85),
    rgba($light-blue, 0.85)
  );

  // &-add {
  //   margin-bottom: 0;
  // }
}

.button--secondary-fatture {
  background: linear-gradient(
    to right bottom,
    rgba($dark-green, 0.85),
    rgba($light-green, 0.85)
  );

  // &-add {
  //   margin-bottom: 0;
  // }
}

.button--secondary-delete {
  background: linear-gradient(
    to right bottom,
    rgba($dark-red, 0.85),
    rgba($light-red, 0.85)
  );
}

.button--secondary-leads-match {
  font-size: $font-size-small;
  background: linear-gradient(
    to right bottom,
    rgba($dark-orange, 0.85),
    rgba($light-orange, 0.85)
  );
}

.button--secondary-email {
  font-size: $font-size-small;
  background: linear-gradient(
    to right bottom,
    rgba($blue, 0.85),
    rgba($light-blue, 0.85)
  );
  margin-top: 1rem;
}

.button--secondary-report {
  background: linear-gradient(
    to right bottom,
    rgba($dark-petrolio, 0.85),
    rgba($light-petrolio, 0.85)
  );
}
.button--secondary-utenti {
  background: linear-gradient(
    to right bottom,
    rgba($dark-argento, 0.85),
    rgba($light-argento, 0.85)
  );
}
.button--login {
  margin-top: 1rem;
}

.btn-margin {
  margin: 1rem 1rem 1rem 0;
}

.btn-margin-nav {
  margin: 1rem 0 0 0;
}

.btn-floating-margin {
  margin-left: 0.5rem;
  z-index: 0;
}

.btn-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-flat {
  padding: 0px 4px;
}
