.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: $dark-green;
  margin-bottom: 3rem;
  margin-right: 1rem;
}
.button--secondary-add {
  background: $dark-green;
}
.button--secondary-oggetti {
  background: $dark-purple;
  margin-bottom: 3rem;
  margin-right: 1rem;
}
.button--secondary-oggetti-add {
  background: $dark-purple;
}
.button--secondary-clienti {
  background: $blue;
  margin-bottom: 3rem;
  margin-right: 1rem;
}
.button--secondary-clienti-add {
  background: $blue;
}
.button--secondary-leads {
  background: $dark-orange;
  margin-bottom: 3rem;
  margin-right: 1rem;
}
.button--secondary-leads-add {
  background: $dark-orange;
}
.button--secondary-modulistica {
  background: $dark-acqua;
  margin-bottom: 3rem;
  margin-right: 1rem;
}
.button--secondary-delete {
  background: $dark-red;
  margin-bottom: 3rem;
  margin-right: 1rem;
}

.button--secondary-leads-match {
  font-size: $font-size-small;
  background: $dark-orange;
}

.button--secondary-email {
  font-size: $font-size-small;
  background: $blue;
  margin-top: 1rem;
}
