.header {
  background: linear-gradient(
    to left,
    rgba($m2Square-red, 0.85),
    rgba($off-white, 0.85)
  );
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
