.text-input {
  border: 1px solid #cacccd;
  background-color: white;

  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}

.text-input--modificato {
  color: red;
}

.select {
  @extend .text-input;
  &__form {
    max-width: 300px;
  }
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
