.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-item {
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: background 0.3s ease;
  &:hover {
    background: $off-white;
  }
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }
}

.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  color: $grey;
  font-size: $font-size-small;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}

.list-item--paid {
  background: $light-green;
  &:hover {
    background: darken($light-green, 7);
  }
}
.list-item--paid0 {
}
.list-item--paid1 {
  background: $light-yellow;
  &:hover {
    background: darken($light-yellow, 7);
  }
}
.list-item--paid2 {
  background: $light-green;
  &:hover {
    background: darken($light-green, 7);
  }
}

.list-header-leads {
  background: $light-orange;
  border: 1px solid darken($light-orange, 7);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}
.list-header-deals {
  background: $light-green;
  border: 1px solid darken($light-green, 7);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}
.list-header-oggetti {
  background: $light-purple;
  border: 1px solid darken($light-purple, 7);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}
.list-header-modulistica {
  background: $light-acqua;
  border: 1px solid darken($light-acqua, 7);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}
.list-header-clienti {
  background: $light-blue;
  border: 1px solid darken($light-blue, 7);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}
