.page-header {
  background: $off-white;
  margin-bottom: $s-size;
  padding: $l-size 0;
}

.page-header__actions {
  margin-top: $m-size;
}

.page-header__title {
  font-weight: 300;
  margin: 0;
  span {
    font-weight: bold;
  }
}

.page-header__button {
  margin-right: 1rem;

  &-deals,
  &-fatture {
    background: linear-gradient(
      to right bottom,
      rgba($dark-green, 0.85),
      rgba($light-green, 0.85)
    );
  }

  &-leads {
    background: linear-gradient(
      to right bottom,
      rgba($dark-orange, 0.85),
      rgba($light-orange, 0.85)
    );
  }
  &-modulistica {
    background: linear-gradient(
      to right bottom,
      rgba($dark-acqua, 0.85),
      rgba($light-acqua, 0.85)
    );
  }
  &-oggetti {
    background: linear-gradient(
      to right bottom,
      rgba($dark-purple, 0.85),
      rgba($light-purple, 0.85)
    );
  }
  &-clienti {
    background: linear-gradient(
      to right bottom,
      rgba($blue, 0.85),
      rgba($light-blue, 0.85)
    );
  }
  &-report {
    background: linear-gradient(
      to right bottom,
      rgba($dark-petrolio, 0.85),
      rgba($light-petrolio, 0.85)
    );
  }
  &-utenti {
    background: linear-gradient(
      to right bottom,
      rgba($dark-argento, 0.85),
      rgba($light-argento, 0.85)
    );
  }
}
