.foto {
  max-width: 200px;
  margin: 1rem;
}

.cancella {
  position: absolute;
  left: 95px;
  top: 70%;
  cursor: pointer;
}

.sposta-sinistra {
  position: absolute;
  left: 18px;
  top: 70%;
  cursor: pointer;
}

.sposta-destra {
  position: absolute;
  left: 170px;
  top: 70%;
  cursor: pointer;
}

.icon-in-picture {
  position: absolute;
  left: 170px;
  top: 65%;
  cursor: pointer;
}
.foto-container {
  position: relative;
}
