//Colors
$dark-grey: #333333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$light-green: #aaeeb1;
$dark-green: #04a30c;
$light-yellow: #f5ed82;
//Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$font-size-xsmall: 1rem;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//GRID
$gutter-vertical: 8rem;
$gutter-horizontal: 0.5rem;
$grid-width: 114rem;

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
